<h4>{{ edit ? "Edit" : "Create new" }} Character</h4>

<br />

<form #f="ngForm" (ngSubmit)="onSave()">
    <div class="form-group">
        <label class="required" for="name">Name</label>
        <input
            id="name"
            name="name"
            type="text"
            class="form-control"
            #name="ngModel"
            [(ngModel)]="character.name"
            required
        />

        <small class="form-text text-danger" *ngIf="f.touched && name.invalid">
            <span *ngIf="name.errors.required">Name is required.</span>
        </small>
    </div>

    <div class="form-group">
        <label for="alias">Alias</label>
        <input
            id="alias"
            name="alias"
            type="text"
            class="form-control"
            [(ngModel)]="character.alias"
        />
    </div>

    <div class="form-group">
        <label for="imageURL">Image URL</label>
        <input
            id="imageURL"
            name="imageURL"
            type="text"
            class="form-control"
            [(ngModel)]="character.imageURL"
        />
    </div>

    <div class="btn-toolbar my-4">
        <button
            type="submit"
            class="btn btn-primary mr-2"
            [disabled]="f.invalid"
        >
            Save
        </button>

        <button type="button" class="btn btn-secondary" (click)="onCancel()">
            Cancel
        </button>
    </div>
</form>
