<h2>{{ edit ? "Edit" : "Create new" }} Character</h2>

<br />

<form
    class="row"
    [formGroup]="form"
    (ngSubmit)="onSave()"
    (keydown.enter)="$event.preventDefault()"
>
    <div class="col-md-5">
        <!-- image -->
        <div class="card bg-dark shadow">
            <img
                [src]="form.value.imageURL"
                class="img-cover rounded"
                fallback
            />
        </div>

        <br />

        <!-- id -->
        <input type="hidden" formControlName="id" />

        <!-- alignment -->
        <div class="form-group">
            <label for="alignment" class="required">Alignment</label>
            <br />

            <div
                class="form-check form-check-inline"
                *ngFor="let opt of alignments"
            >
                <input
                    id="alignment-{{ opt }}"
                    type="radio"
                    class="form-check-input"
                    [value]="opt"
                    formControlName="alignment"
                />
                <label for="alignment-{{ opt }}" class="form-check-label">{{
                    opt
                }}</label>
            </div>

            <small
                class="form-text text-danger"
                *ngIf="form.touched && form.controls['alignment'].invalid"
            >
                Please choose an alignment.
            </small>
        </div>

        <!-- name -->
        <div class="form-group">
            <label class="required" for="name">Name</label>
            <input
                id="name"
                type="text"
                class="form-control"
                formControlName="name"
            />
            <small
                class="form-text text-danger"
                *ngIf="form.touched && form.controls['name'].invalid"
            >
                <span *ngIf="form.controls['name'].errors.required"
                    >Name is required.</span
                >
            </small>
        </div>

        <!-- alias -->
        <div class="form-group">
            <label for="alias">Alias</label>
            <input
                id="alias"
                type="text"
                class="form-control"
                formControlName="alias"
            />
        </div>

        <!-- image url -->
        <div class="form-group">
            <label for="imageURL">Image URL</label>
            <input
                id="imageURL"
                type="text"
                class="form-control"
                formControlName="imageURL"
            />
        </div>
    </div>

    <div class="col-md-1 border-right"></div>

    <div class="col-md-6">
        <!-- gender -->
        <div class="form-group">
            <label for="gender" class="required">Gender</label>
            <br />

            <div
                class="form-check form-check-inline"
                *ngFor="let opt of genders"
            >
                <input
                    id="gender-{{ opt }}"
                    type="radio"
                    class="form-check-input"
                    formControlName="gender"
                    [value]="opt"
                />
                <label for="gender-{{ opt }}" class="form-check-label">{{
                    opt
                }}</label>
            </div>
            <small
                class="form-text text-danger"
                *ngIf="form.touched && form.controls['gender'].invalid"
            >
                Please choose a gender.
            </small>
        </div>

        <!-- real name -->
        <div class="form-group">
            <label for="realName">Real Name</label>
            <input
                id="realName"
                type="text"
                class="form-control"
                formControlName="realName"
            />
        </div>

        <!-- base of operations -->
        <div class="form-group">
            <label for="location">Base of operations</label>
            <input
                id="location"
                type="text"
                class="form-control"
                formControlName="location"
            />
        </div>

        <!-- occupation -->
        <div class="form-group">
            <label for="occupation">Occupation</label>
            <input
                id="occupation"
                type="text"
                class="form-control"
                formControlName="occupation"
            />
        </div>

        <!-- story -->
        <div class="form-group">
            <label class="required" for="story">Story</label>
            <textarea
                id="story"
                type="text"
                rows="3"
                class="form-control"
                formControlName="story"
            ></textarea>
            <small
                class="form-text text-danger"
                *ngIf="form.touched && form.controls['story'].invalid"
            >
                <span *ngIf="form.controls['story'].errors.required"
                    >Story is required.</span
                >
            </small>
        </div>

        <!-- powers -->
        <div class="form-group">
            <label for="power">Powers</label>
            <input
                #power
                id="power"
                type="text"
                class="form-control"
                (keyup.enter)="onAddPower(power)"
                placeholder="type and press enter to add.."
            />
        </div>

        <div>
            <span
                class="badge badge-light m-1"
                *ngFor="let p of powers.controls; let i = index"
            >
                {{ p.value }}
                <button type="button" class="btn btn-link btn-sm py-0" (click)="onRemovePower(i)">
                    x
                </button>
            </span>
        </div>
    </div>

    <div class="col">
        <div class="btn-toolbar my-4">
            <button
                type="submit"
                class="btn btn-primary mr-2"
                [disabled]="form.invalid"
            >
                Save
            </button>

            <button
                type="button"
                class="btn btn-secondary"
                (click)="onCancel()"
            >
                Cancel
            </button>
        </div>
    </div>
</form>
