<div class="row">
    <div class="col-12 col-md-auto mb-2">
        <img
            class="img-cover img-thumbnail"
            [src]="character.imageURL"
            fallback
        />
    </div>

    <div class="col d-flex justify-content-between align-items-center">
        <div>
            <h2 class="m-0">{{ character.name }}</h2>
            <h6 class="lead text-muted">{{ character.alias }}</h6>
        </div>
        <div>
            <a class="btn btn-outline-primary mr-2" routerLink="./edit">
                <i class="fas fa-pencil-alt mr-1"></i> Edit
            </a>
            <button class="btn btn-outline-danger" (click)="onDelete()">
                <i class="fas fa-trash mr-1"></i> Delete
            </button>
        </div>
    </div>
</div>

<!-- <hr /> -->

<div class="row">
    <div class="col-md-8 mb-4 border-right">
        <pre class="text-raw my-4 mr-4">{{ character.story }}</pre>
    </div>

    <div class="col-md-4">
        <h4 class="text-primary">Character Facts</h4>

        <br />

        <div class="row">
            <strong class="col-md-4">Alignment</strong>
            <span class="col text-capitalize">{{ character.alignment }}</span>
        </div>
        <hr />
        <div class="row">
            <strong class="col-md-4">Alias</strong>
            <span class="col">{{ character.alias }}</span>
        </div>
        <hr />
        <div class="row">
            <strong class="col-md-4">Gender</strong>
            <span class="col">{{ character.gender }}</span>
        </div>
        <hr />
        <div class="row">
            <strong class="col-md-4">Real Name</strong>
            <span class="col">{{ character.realName }}</span>
        </div>
        <hr />
        <div class="row">
            <strong class="col-md-4">Occupation</strong>
            <span class="col">{{ character.occupation }}</span>
        </div>
        <hr />
        <div class="row">
            <strong class="col-md-4">Base of Operations</strong>
            <span class="col">{{ character.location }}</span>
        </div>
        <hr />
        <div class="row">
            <strong class="col-md-4">Powers</strong>
            <span class="col">{{ (character.powers || []).join(", ") }}</span>
        </div>
        <hr />
        <div class="row">
            <strong class="col-md-4">Last Update</strong>
            <span class="col">{{ character.updatedAt | date }}</span>
        </div>
    </div>
</div>
