/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 5rem;
}

/* VALIDATIONS ************************************************************************************/
.ng-touched.ng-invalid {
    border-color: red;
}

/* HELPERS ****************************************************************************************/

.pointer {
    cursor: pointer;
}

.required::after {
    content: " *";
    color: red;
    display: inline;
}

.shadow-action {
    /* shadow-sm */
    transition: all ease-in;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.shadow-action:hover {
    /* shadow */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
